
.x-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-white, .75);
    z-index: z('overlay');
    transition: all .3s;
    cursor: pointer;

    &.is--active {
        opacity: 1;
        visibility: visible;
    }
}
