
script(async="async", type="text/javascript").
    WebFontConfig = {google: {families: ['Roboto+Condensed:300,400,70']}};
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();

noscript
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,70", rel="stylesheet")
