
/**
 * Colors
 */
$color-white        : #fff !default;
$color-gray-lighten : #f5f5f5 !default;
$color-gray-light   : #ebebeb !default;
$color-gray         : #8a8a89 !default;
$color-gray-dark    : #626262 !default;
$color-gray-darken  : #202020 !default;
$color-black        : #000 !default;
