body {
	font-family: $_font-family-base;
	font-size: $_font-size-base;

	background-color: $_body-bg;
	color: $_text-color-base;

	line-height: 1.2;
}

.content {
    &__container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
}
